### RoboRio Installers
robotpy-installer==2026.0.1

### RobotPy
robotpy==2026.2.1.1
robotpy[commands2]
phoenix6==26.1.1 # robotpy[phoenix6]
robotpy-rev==2026.0.3.1 # robotpy[rev]
robotpy-pathplannerlib==2026.1.2 # robotpy[pathplannerlib]

# phoenix6==25.0.0b4
# robotpy-pathplannerlib==2025.0.0b6
# robotpy-rev==2025.0.0b4